/32bit
/scintilla
/scintilla_good
fbc_linux_exe
FBdebugger-pour_recup.bas
fbdebugger_new.bat
fbdebugger_new.exe
libLinked_Lists.a
libwindow9.a
libz.a
objdump.bat
objdump.exe
scilexer.bi
scintilla.bi
test_debug
test_include.bas
test_include2.bas
test_include_main
test_include_main.a64
test_include_main.bas
test_win9.exe
Window9.bi
window9.chm
window9.chw
Window9_2.bi
*.dll
*.so
*.txt
*.exe
*.asm